body {
    font-family: Roboto, sans-serif, serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 0 200px;
}

.hero {
    padding: 150px 200px;
}

.logo,
.ad .title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 24px
}

.header a {
    text-decoration: none;
}

.hero .container {
    max-width: 450px;
}

.hero .container .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 600;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 6px 30px;
    margin: 16px 0;
}

img {
    max-width: auto;
    height: auto;
}

.info,
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    padding: 75px;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px 450px;
}

.info .title,
.quote .text {
    font-size: 36px;
    color: #1F2937;
}

.info .title {
    font-weight: 900;
}

.quote .text {
    max-width: 825px;
    font-weight: 300;
}

.info .container {
    padding: 75px;
    display: flex;
    gap: 60px;
}

.card {
    max-width: 240px;
    text-align: center;
}

.card .text {
    color: rgb(96, 96, 96);
}

.quote .author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
}

.ad {
    padding: 150px 200px;
}

.ad .box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 75px 150px;
}

.ad button {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: center;
}