body {
    font-family: Roboto, sans-serif, serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 24px
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}